name: bt_lecrabeinfo_net

services:
  transmission:
    image: lscr.io/linuxserver/transmission:latest
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      USER: ${WEBUI_USER}
      PASS: ${WEBUI_PASSWORD}
      HOST_WHITELIST: ${TRAEFIK_HOST}
    volumes:
      - ./config:/config
      - ./downloads:/downloads
      - ./watch:/watch
      - ./public:/exports
      - ./scripts:/scripts:ro
      - ${FILES_PATH}:/srv/files
    ports:
      - "51413:51413"
      - "51413:51413/udp"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.transmission-bt-lecrabeinfo-net.rule=Host(`${TRAEFIK_HOST}`)
      - traefik.http.routers.transmission-bt-lecrabeinfo-net.entryPoints=${TRAEFIK_TRANSMISSION_ENTRYPOINT}
      - traefik.http.routers.transmission-bt-lecrabeinfo-net.tls=true
      - traefik.http.services.transmission-bt-lecrabeinfo-net.loadbalancer.server.port=9091
  nginx:
    image: nginx
    volumes:
      - ./public:/usr/share/nginx/html:ro
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.nginx-bt-lecrabeinfo-net.rule=Host(`${TRAEFIK_HOST}`)
      - traefik.http.routers.nginx-bt-lecrabeinfo-net.entryPoints=${TRAEFIK_NGINX_ENTRYPOINT}
      - traefik.http.routers.nginx-bt-lecrabeinfo-net.tls=true
      - traefik.http.routers.nginx-bt-lecrabeinfo-net.middlewares=torrent-hashes-file-ip-allowlist@file

networks:
  default:
    name: ${NETWORK_NAME}
    external: true
